.centered-container {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
}

.review-form {
    width: 30rem;
}

.full-width-field {
    width: 100%;
 }

p {
margin-top: .5rem;
margin-bottom: .2rem;
}

mat-form-field {
   width: 100%;
}

#zipcode {
   width:15rem;
}

.table-title {
   height:2rem;
   font-size: 2rem;
   padding-bottom: 1rem;
}

.stars-wrapper {
   display: flex;
   justify-content: flex-start;
}

#star-button {
   margin-right: .7rem;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%; /* Make it round */
   background-color: rgba(0, 0, 0, 0.12); /* Background color, adjust as needed */
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for the raised effect */
   transition: background-color 0.3s, box-shadow 0.3s;
}

#star-button:hover {
   background-color: rgba(0, 0, 0, 0.2); /* Background color on hover, adjust as needed */
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Box shadow on hover, adjust as needed */
}

#star-icon {
   margin: 0; 
   font-size: 1.5rem; 
   width: 1.5rem; 
   height: 1.5rem;
}

textarea {
   min-height: 8rem;
   max-height: 20rem;
}

#end-hint {
   font-size: .75rem;
   margin-left: 26rem;
   transform: translateY(-1.1rem);
   position: absolute
}

.score-error-wrapper {
   height: 1.4rem;
   padding-left: .9rem;
   font-size: .75rem;
}

.new-review-button {
   margin: .5rem 0 5rem;
}

@media (max-width: 575.98px) {
   .review-form {
      width: 20rem;
   }
    
   #end-hint {
      font-size: .75rem;
      margin-left: 17.5rem;
      transform: translateY(-1.1rem);
      position: absolute
   }

}