<div class="review-container">
  <div class="d-none d-lg-block mat-elevation-z5 table-review-container">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Define the columns -->
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.product }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Score </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.score }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.comment }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.firstName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.lastName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="zipcode">
        <mat-header-cell *matHeaderCellDef> Zipcode </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.zipcode }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateAndTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let review"> {{ review.dateAndTime | date:'MM-dd-yyyy hh:mm a' }} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #tablePaginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

  <div class="d-block d-lg-none card-review-container">
    <div *ngFor="let review of pagedReviews" class="card bg-primary mat-elevation-z5" id="review-card">
      <div class="card-header text-white header-content">
        <span class="name-span"><b>{{review.firstName}} {{review.lastName}}</b></span>
        <span class="date-span">{{review.dateAndTime | date:'MM-dd-yyyy h:mm a'}}</span>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="product-span"><b>Product:</b> {{review.product}}</span>
          <span class="score-span"><b>Score:</b> {{review.score}}/5</span>
        </li>
        <li *ngIf="review.comment" class="list-group-item"><b>Comment:</b> {{review.comment}} </li>
        <li class="list-group-item">
          <span class="zipcode-span"><b>Zip:</b> {{review.zipcode}}</span>
        </li>
      </ul>
    </div>
    <mat-paginator #cardPaginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true"
                (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <div *ngIf="shouldShowError" class="alert alert-warning" role="alert">
    {{errorMessage}}
  </div>
</div>