.review-container {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    margin: 2rem 0;
}

@media (min-width: 1200px) {
  .table-container {
    margin: 3rem 6rem 0;
  } 
}

.success-message {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0;
}

.success-alert {
  margin: 0;
}

.mat-table {
  overflow: auto;
}

.mat-column-comment {
  flex: 1 0 10%;
}

.mat-column-firstName {
  flex: 1.5 0 7%;
}

.mat-column-lastName {
  flex: 1.5 0 7%;
}

.mat-column-score {
  flex: 0 0 6%;
}

.mat-column-product {
  flex: 0 0 14%;
}

.mat-column-zipcode {
  flex: .5 2 8%;
}

.mat-column-files {
  flex: 1 0 12%;
}

.mat-column-dateAndTime {
  flex: 0 0 12%;
}

.mat-column-delete {
  flex: 0 0 7%;
}

.table-file-container {
  display: flex;
  flex-direction: column;
  margin: .3rem 0;
}

.table-file-container p {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  margin: 0;
}

#review-card {
  margin: 0 1rem 1rem;
  font-size: 1.1rem;
}

.top-row{
  display: flex;
  justify-content: space-between;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.date-span {
  margin-left: 0;
}

.score-span {
  margin-left: 4rem;
}

.delete-row {
  display: flex;
  justify-content: end;
}

.table-review-container {
  margin: 0 3.5rem;
}

.card-review-container {
  margin-bottom: 2rem;
}

.file-item {
  display: flex;
}

.file-item p {
  margin: auto 0 0 .5rem
}

.download-link {
  text-decoration: none;
}

.download-link:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}