.spacer {
    flex: 1 1 auto;
  }

.new-button {
    margin-left: 1rem;
}

.register-button {
  margin-left: 1rem;
}

.login-button {
  margin-left: 1rem;
}

.logout-button {
  margin-left: 1rem;
}

.welcome-test {
  font-style: italic;
  margin-left: 1rem;
  font-size: 1rem;
}